![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis estrategico de política expansiva en Antas"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = """Antas ha firmado un contrato con Endesa por lo que recibirá 40 amillones de euros en los proxios 30 años,
8 son recibidos de entrada en enero y el resto sera un arrendamiento de un millon de euros al año. Este contrato es cambio de unos terrenos de 550 hectares para poner paneles solares.
La cuestion a tratar es las diferentes formas en las que se puede gestionar ese dinero recibido según los datos de una encuesta realizada a la poblaciçon y otra serie de datos de tipo
medioambiental y económico"""

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = """las familias del pueblo se pueden ahorrar mas de 30 millones de euros al cabo de 20 años realizando la política energetica adecuada,
lo que supone unos alrededor de unos 1500 euros por unidad familiar durante 20 años"""

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = "se puede construir un pabellon y una piscina entre la presente y siguiente legislatura, asçi como dejar pryectado una residencia de ancianos con las partidad aclaradas"
# hipotesis_3 = "renovación y mejoramiento de las infraestructuras hidraulicas"
# hipotesis_4 = "saneamiento de la deuda pública y establecimiento de remanente de contingencias"
# hipotesis_5 = "hacer de Antas un municipio soberano e independiente a nivel energetico"
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [7]:
import pandas as pd

df_1 = pd.read_csv("02001.csv", sep=";")

df_1.head()

# ...

,Total Nacional,Comunidades y Ciudades Autanomas,Producto consumido,año,Total
0,Total Nacional,NaN,Electricidad,2021,8.892.228
1,Total Nacional,01 Andalucaa,Electricidad,2021,941.599
2,Total Nacional,02 Aragon,Electricidad,2021,477.683
3,Total Nacional,"03 Asturias, Principado de",Electricidad,2021,543.877
4,Total Nacional,"04 Balears, Illes",Electricidad,2021,12.505

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [8]:

#evolucion de habitantes en Antas
df_2 = pd.read_csv("asi_ha_cambiado_la_poblacion_en_antas__.csv", sep=";")

df_2.head()

    Año Periodo  Número de habitantes
0  2003     Año                 3.026
1  2004     Año                 3.101
2  2005     Año                 3.223
3  2006     Año                 3.157
4  2007     Año                 3.244

In [11]:
df_3 = pd.read_csv("deuda_publica_en_antas__.csv", sep=";")

df_3.head()

      Año Periodo Deuda pública en miles de euros
0  2008.0     Año                           1.134
1  2009.0     Año                           1.625
2  2010.0     Año                           1.419
3  2011.0     Año                           1.197
4  2012.0     Año                           2.378

In [17]:
df_4 = pd.read_csv("horas_de_sol_antas_2024.csv", sep=",")

df_4.head()

       Mes  Horas de Sol   Minutos de Sol  Minutos Totales
0    Enero            306              36            18396
1  Febrero            300              53            18053
2    Marzo            368              14            22094
3    Abril            392              22            23542
4     Mayo            437              28            26248